.app {
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.card {
  width: 40vw;
  padding: 10px 0px;
  background-color: pink;
  margin: 5px;
}
